.QuestionSetAccordionItem {
  padding: 0 !important;
  padding-right: 16px !important;

  & *:hover {
    text-decoration: none !important;
  }

  & > * > button {
    padding: 0 !important;
  }

  &.isTarget {
    > * > button {
      background-color: #F6F9FD !important;
    }
  }

  &-trigger {
    padding: 12px 16px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    background-color: transparent;

    > .itemName {
      flex-shrink: 0;
      width: 130px;

      color: #000;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      text-align: start;
    }

    > .actionsWrapper {
      flex-shrink: 0;

      display: flex;
      align-items: center;
      gap: 8px;

      > .actionButton {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        > * {
          color: #000;
        }
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
