.UserStatusToggleButton {
  padding: 4px 8px !important;

  height: fit-content !important;

  display: block;

  font-size: 14px;
  line-height: 20px;
  font-weight: 500;

  &.active {
    /*  */
  }

  &.deactive {
    /*  */
  }
}