.SuperAdminPage {
  @apply p-10;
  @apply w-full h-full;
  @apply flex flex-col gap-5;
  @apply overflow-hidden;

  &-filterWrapper {
    /*  */
  }

  &-tableActionsWrapper {
    /*  */
  }

  &-tableWrapper {
    overflow: hidden;

    border: 1px solid hsl(var(--border));

    & > * {
      height: 100%;
    }
  }

  &-tableFooterWrapper {
    @apply flex justify-end flex-shrink-0;
  }
}