.MathQuestionAttributesSection-achievementSearchModal {
  /*  */

  .headerRow {
    position: sticky;
    top: 0;

    background-color: #fff;
    box-shadow: -1px 1px 1px hsl(var(--border));

    &:hover {
      background-color: #fff;
    }

    & > * {
      color: #0F172A;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;

      border-right: 1px solid hsl(var(--border));

      &:last-of-type {
        border-right: none !important;
      }
    }

    .achievementSearchModal_curriculum {
      width: 90px;
      min-width: 90px;
    }

    .achievementSearchModal_classtype {
      width: 120px;
      min-width: 120px;
    }

    .achievementSearchModal_grade_cluster {
      width: 120px;
      min-width: 120px;
    }

    .achievementSearchModal_achievement1_no,
    .achievementSearchModal_achievement2_no,
    .achievementSearchModal_achievement3_no, {
      padding: 0;

      width: 66px;
      min-width: 66px;

      text-align: center;
      white-space: pre-wrap;

      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }

    .achievementSearchModal_achievement1_title,
    .achievementSearchModal_achievement2_title,
    .achievementSearchModal_achievement3_title {
      width: 220px;
      min-width: 220px;
    }

    .achievementSearchModal_code {
      width: 180px;
      min-width: 180px;
    }
  }

  .row {
    cursor: pointer;

    & > * {
      padding: 13px 16px !important;

      color: #0F172A !important;
      font-size: 16px !important;
      line-height: 24px !important;
      font-weight: 400 !important;

      border-right: 1px solid hsl(var(--border)) !important;

      &:last-of-type {
        border-right: none !important;
      }
    }

    .achievementSearchModal_curriculum {
      /*  */
    }

    .achievementSearchModal_classtype {
      /*  */
    }

    .achievementSearchModal_grade_cluster {
      /*  */
    }

    .achievementSearchModal_achievement1_no,
    .achievementSearchModal_achievement2_no,
    .achievementSearchModal_achievement3_no, {
      text-align: center;
    }

    .achievementSearchModal_achievement1_title,
    .achievementSearchModal_achievement2_title,
    .achievementSearchModal_achievement3_title, {
      /*  */
    }

    .achievementSearchModal_code {
      /*  */
    }
  }
}

.MathQuestionAttributesSection-kcSearchModal {
  /*  */

  .headerRow {
    position: sticky;
    top: 0;

    background-color: #fff;
    box-shadow: -1px 1px 1px hsl(var(--border));

    &:hover {
      background-color: #fff;
    }

    & > * {
      color: #0F172A;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;

      border-right: 1px solid hsl(var(--border));

      &:last-of-type {
        border-right: none !important;
      }
    }

    .kcSearchModal_curriculum {
      width: 90px;
      min-width: 90px;

      text-align: center;
    }

    .kcSearchModal_classtype {
      width: 80px;
      min-width: 80px;

      text-align: center;
    }

    .kcSearchModal_grade_cluster {
      width: 90px;
      min-width: 90px;
    }

    .kcSearchModal_achievement1_title,
    .kcSearchModal_achievement2_title {
      width: 20%;
      min-width: 200px;
    }

    .kcSearchModal_achievement3_title {
      width: 40%;
      min-width: 400px;
    }

    .kcSearchModal_kc1_title,
    .kcSearchModal_kc2_title {
      width: 30%;
      min-width: 300px;
    }
  }

  .row {
    cursor: pointer;

    & > * {
      padding: 13px 16px !important;

      color: #0F172A !important;
      font-size: 16px !important;
      line-height: 24px !important;
      font-weight: 400 !important;

      border-right: 1px solid hsl(var(--border)) !important;

      &:last-of-type {
        border-right: none !important;
      }
    }

    .kcSearchModal_curriculum {
      text-align: center;
    }

    .kcSearchModal_classtype {
      text-align: center;
    }

    .kcSearchModal_grade_cluster {
      /*  */
    }

    .kcSearchModal_achievement1_title,
    .kcSearchModal_achievement2_title,
    .kcSearchModal_achievement3_title {
      /*  */
    }

    .kcSearchModal_kc1_title,
    .kcSearchModal_kc2_title {
      /*  */
    }
  }
}
