.CommonSelect {
  padding: 8px 16px !important;

  color: #000 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  font-weight: 400 !important;

  &[data-placeholder] {
    color: #989898 !important;
  }
}
