.SearchModalTrigger {
  @apply flex items-center gap-2;

  padding: 10px 12px;

  width: 100%;
  min-width: 140px;

  overflow: hidden;

  color: #71717A;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: start;

  border: 1px solid hsl(var(--border));

  &:hover {
    text-decoration: none !important;
  }

  .value {
    flex: 1 1 0;
    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;

    &.placeholder {
      color: #989898;
    }
  }

  &.showSearchIcon {
    /*  */

    .value {
      @apply flex justify-between gap-2;
    }
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}
