.MathQuestionStatusSection {
  @apply flex flex-col gap-2.5;

  &-item {
    @apply flex items-center gap-2;

    .checkbox {
      /*  */
    }

    .label {
      color: #111827;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
    }
  }
}
