.MathKnowledgeConceptDetailPage {
  padding: 42px 40px;

  &-divider {
    margin: 20px 0;

    width: 100%;
    height: 1px;

    background-color: #001A33;
  }

  &-header {
    /*  */
  }

  &-main {
    /*  */
  }

  &-footer {
    /*  */
  }
}
