.UsersTable {
  /*  */

  .headerRow {
    position: sticky;
    top: 0;

    background-color: #fff;
    box-shadow: -1px 1px 1px hsl(var(--border));

    & > * {
      border-right: 1px solid hsl(var(--border));
    }

    .table-row-selector {
      width: 66px !important;
      min-width: 66px !important;
    }

    .username {
      width: 300px !important;
      min-width: 300px !important;
    }

    .email {
      min-width: 370px;
    }

    .phone {
      width: 244px !important;
      min-width: 244px !important;
    }

    .groups {
      width: 351px !important;
      min-width: 351px !important;
    }

    .is_active {
      width: 156px !important;
      min-width: 156px !important;

      text-align: center;
    }
  }

  .row {
    cursor: pointer;

    & > * {
      padding: 13px 16px !important;

      color: #0F172A !important;
      font-size: 16px !important;
      line-height: 24px !important;
      font-weight: 400 !important;

      border-right: 1px solid hsl(var(--border)) !important;

      &:last-of-type {
        border-right: 0 !important;
      }
    }

    .table-row-selector {
      /*  */
    }

    .username {
      /*  */
    }

    .email {
      /*  */
    }

    .phone {
      /*  */
    }

    .groups {
      padding: 0 16px !important;
      width: auto !important;
    }

    .is_active {
      text-align: center;
    }
  }
}
