.GenerateTempPasswordModalTrigger {
  /*  */
}

.GenerateTempPasswordModal {
  display: flex !important;
  align-items: center !important;

  &-header {
    @apply w-full flex-1;

    .title {
      color: #09090B;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
    }

    .description {
      margin-top: 4px !important;

      color: #71717A;
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
    }
  }

  .copyButton {
    /*  */
  }
}