.MathChapterHeader {
  position: relative;

  &-accordion {
    /*  */

    .trigger {
      padding: 0;

      &:hover {
        text-decoration: none;
      }

      .title {
        @apply flex items-center gap-2;

        color: #171717;
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;

        .icon {
          width: 24px;
          height: 24px;

          transition: all 0.28s ease;

          color: #8E8E8E;

          &.open {
            transform: rotate(-180deg);
          }

          &.close {
            /*  */
          }
        }
      }
    }

    .filters {
      @apply flex items-center gap-14;

      margin-top: 20px;
      padding: 24px;

      border: 1px solid #0000000D;
      border-radius: 4px;

      .filterItem {
        @apply flex items-center gap-2 flex-shrink;

        overflow: hidden;

        .label {
          flex-shrink: 0;
          width: 80px;
        }

        .editor {
          min-width: 200px !important;
        }
      }
    }
  }

  &-actions {
    @apply flex items-center gap-2.5;

    position: absolute;
    top: 0;
    right: 0;

    transform: translateY(-25%);

    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;

    .actionButton {
      @apply flex items-center gap-2.5;

      .icon {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.MathChapterHeader-textbookSearchModal {
  /*  */

  .headerRow {
    /*  */

    .curriculum {
      padding: 0;

      width: 70px;
      min-width: 70px;

      font-size: 14px;
      line-height: 20px;
      text-align: center;
      white-space: pre-line;
    }

    .title {
      min-width: 200px;
    }

    .author {
      width: 200px !important;
      min-width: 200px !important;
    }

    .classtype {
      width: 170px !important;
      min-width: 170px !important;
    }

    .grade {
      width: 150px !important;
      min-width: 150px !important;
    }

    .term {
      width: 150px !important;
      min-width: 150px !important;
    }
  }

  .row {
    /*  */

    .curriculum {
      /*  */
    }

    .title {
      /*  */
    }

    .author {
      /*  */
    }

    .classtype {
      /*  */
    }

    .grade {
      /*  */
    }

    .term {
      /*  */
    }
  }
}
