.MathTextbookPage {
  @apply flex flex-col gap-5;

  padding: 40px;
  width: 100%;
  height: 100%;

  overflow: hidden;

  &-header {
    flex-shrink: 0;
  }

  &-actions {
    flex-shrink: 0;
  }

  &-table {
    overflow: hidden;

    border: 1px solid hsl(var(--border));

    & > * {
      height: 100%;
    }
  }

  &-footer {
    flex-shrink: 0;
  }
}
