.MathAchievementFooter {
  @apply flex justify-between items-center gap-5;

  &-leftSide {
    color: #000;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }

  &-rightSide {
    /*  */
  }
}
