.SimpleNoticeModal {
  gap: 24px !important;

  &-header {
    /*  */

    .title {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;

      &.success {
        color: #09090B;
      }

      &.error {
        color: #FF1F00;
      }
    }

    .message {
      color: #71717A;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      white-space: pre-wrap;
    }
  }

  &-footer {
    @apply flex justify-end items-center gap-2.5;
  }
}
