.AuthedHeaderLayout {
  @apply w-full h-full;
  @apply flex flex-col;
  @apply overflow-hidden;

  &-header {
    @apply shrink-0;
    @apply py-2 px-5;
    @apply h-fit;
    @apply grid grid-cols-3;

    background-color: #001A33;

    &-left {
      @apply flex items-center gap-5;

      > .logo {
        width: 56px;
        height: 24px;
      }

      > .logoTitle {
        color: #fff;
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
      }
    }

    &-center {
      @apply flex justify-center items-center;
    }

    &-right {
      @apply flex justify-end items-center;
    }
  }

  &-main {
    @apply w-full h-full;
    @apply overflow-hidden;
  }
}
