.MathKnowledgeConceptDetailHeader {
  @apply flex flex-col gap-1.5;

  &-title {
    color: #09090B;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }

  &-description {
    color: #71717A;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
