.MetadataList {
  width: 100%;
  max-width: 960px;

  list-style-type: none;

  > .emptyMessage {
    margin-top: 120px;

    display: flex;
    justify-content: center;
  }

  > .resultItem {
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    gap: 4px;

    background-color: #fff;
    box-shadow: 0px -1px 0px 0px #EDF1F4 inset;
    transition: all 0.28s ease;

    cursor: pointer;

    > .id {
      color: #5C91FF;
      font-size: 12px;
      line-height: 18px;
      font-weight: 500;
    }

    > .value {
      color: #333333;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;

      > .searchValue {
        color: #FF9800;
      }
    }

    &:hover {
      background-color: #F8FAFF;
    }

    &:active {
      background-color: #ECF3FF;
    }
  }
}
