.MathSeriesSourceTable {
  /*  */

  .headerRow {
    position: sticky;
    top: 0;

    background-color: #fff;
    box-shadow: -1px 1px 1px hsl(var(--border));

    &:hover {
      background-color: #fff;
    }

    & > * {
      color: #0F172A;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;

      border-right: 1px solid hsl(var(--border));

      &:last-of-type {
        border-right: none !important;
      }
    }

    .table-row-selector {
      width: 66px !important;
      min-width: 66px !important;
    }

    .title {
      width: 10%;
      min-width: 180px;
    }

    .name {
      width: 20%;
      min-width: 360px;
    }

    .curriculum {
      padding: 0;

      width: 70px;
      min-width: 70px;

      font-size: 14px;
      line-height: 20px;
      text-align: center;
      white-space: pre-line;
    }

    .classtype {
      width: 90px;
      min-width: 90px;
    }

    .grade,
    .term,
    .serviceyear {
      width: 80px;
      min-width: 80px;
    }

    .publisher {
      width: 130px;
      min-width: 130px;
    }

    .date {
      width: 140px;
      min-width: 140px;
    }

    .type {
      width: 140px;
      min-width: 140px;
    }

    .isview {
      width: 90px;
      min-width: 90px;

      text-align: center;
    }
  }

  .row {
    cursor: pointer;

    & > * {
      padding: 13px 16px !important;

      color: #0F172A !important;
      font-size: 16px !important;
      line-height: 24px !important;
      font-weight: 400 !important;

      border-right: 1px solid hsl(var(--border)) !important;

      &:last-of-type {
        border-right: none !important;
      }
    }

    .title {
      /*  */
    }

    .name {
      /*  */
    }

    .curriculum {
      text-align: center;
    }

    .classtype {
      /*  */
    }

    .grade,
    .term,
    .serviceyear {
      /*  */
    }

    .publisher {
      /*  */
    }

    .date {
      /*  */
    }

    .type {
      /*  */
    }

    .isview {
      text-align: center;
    }
  }
}
