.ChangePasswordModalTrigger {
  padding: 8px 16px !important;
  height: fit-content !important;

  color: #fff !important;
  font-size: 14px !important;
  line-height: 20px !important;
  font-weight: 500 !important;
}

.ChangePasswordModal {
  gap: 24px !important;

  &-header {
    /*  */

    .title {
      color: #09090B;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
    }

    .description {
      color: #71717A;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
    }
  }

  &-form {
    @apply flex flex-col gap-4;

    .inputWrapper {
      @apply flex flex-col gap-1.5;

      .label {
        color: #09090B;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;

        .required {
          padding-left: 2px;

          color: #DC2626;
        }
      }

      .input {
        padding: 8px 16px;
        height: fit-content;

        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
      }
    }

    &-footer {
      margin-top: 8px;

      .button {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;

        &.cancel {
          color: #09090B !important;
        }

        &.submit {
          margin-left: 10px !important;
        }
      }
    }
  }
}