.TextbookList {
  width: 100%;
  max-width: 960px;

  cursor: pointer;

  height: 100%;
  overflow: auto;

  > .emptyMessage {
    margin-top: 120px;

    display: flex;
    justify-content: center;
  }

  > .resultItem {
    margin: 20px 0;

    display: flex;
    flex-direction: column;
    gap: 4px;

    > .id {
      color: #5C91FF;
      font-size: 12px;
      line-height: 18px;
      font-weight: 500;
    }

    > .titleWrapper {
      display: flex;
      gap: 8px;

      font-size: 14px;
      line-height: 22px;
      font-weight: 400;

      > .label {
        flex-shrink: 0;

        color: #383841;
      }

      > .title {
        flex: 1;
        width: 100;
        font-weight: 500;

        > .searchValue {
          color: #FF9800;
        }
      }
    }

    > .detailList {
      margin-left: 20px;

      list-style-type: disc;

      > .detail {
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;

        > .inner {
          display: flex;
          gap: 8px;

          > .label {
            flex-shrink: 0;
            width: 70px;

            color: #383841;
          }

          > .value {
            flex: 1;
            width: 100%;
            font-weight: 500;
          }
        }
      }
    }

    &:hover {
      background-color: #F8FAFF;
    }

    &:active {
      background-color: #ECF3FF;
    }
  }
}
